# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment variables
.env
.env.*

# React
frontend/node_modules/
frontend/dist/

# macOS
.DS_Store

# VS Code
.vscode/